.card {
  position: relative;
}
.card .card-tag {
  position: absolute;
  top: 0;
  right: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card-title {
  font-size: 1.5rem;
}

.card-title .card-sub-title {
  font-size: 1.0rem;
}