.card.cn .card-body {
  padding: 0.9rem;
}
.card.cn .cn-border {
  border-radius: 8px;
  border: 2px dashed #bc2326;
  padding: 1.3rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-title .card-sub-title {
  font-size: 1.0rem;
}