.header .container{
  height: 56px;
}
.header .link {
  text-decoration: none !important;
  box-sizing: border-box;
  line-height: 56px;
  display: inline-block;
}
.header .navlink.active, .header .navlink:hover {
  border-bottom: 2px solid blue;
}