@import 'style/_font.css';

body, html {
  min-height: 100%;
  background-color: #F3f7f7;
  font-family: 'Roboto', sans-serif;
  background-color: #F3f7f7;
}
:root{
  --main-color: #CB356B;
}
.fixed {position: fixed;}
.bg-grey {background-color:#f3f7f7}
.bg-dark-grey { background-color:#e9ecef; }
.text-cn-yellow {color:#fffdf4!important}
.bg-main {background-color:var(--main-color);}
.text-main {color:var(--main-color) !important;}
.text-light-blue {color:#00A9FF!important}
.bsd-1 {box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 24px 0px!important;}
.bsd-2 {box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)!important;}
.bsd-3 {box-shadow: 0 6px 16px 0 rgba(115,143,147,.4)!important;}
.h-100 {height:100%;}
.bdr-4 {border-radius:4px!important;}
.bdr-8 {border-radius:8px!important;}
.bdr-max {border-radius:30px!important;}
.smallline {
  width: 100px;
  height: 5px;
  display: inline-block;
  border-radius: 50px;
}
.pointer {cursor: pointer!important;}
/* .btn-blue {
  box-shadow: 0 6px 16px 0 rgba(0,0,255,.4);
} */
.form-control:focus {
  border: 2px solid var(--main-color);
}
textarea.form-control {
  min-height: 100px;
}
input.form-control:focus, textarea.form-control:focus {
  box-shadow: none;
}
@media (max-width: 767px) {
  .mw-100 {
    width: 100%;
  }
}